# Compiled binaries
go/sudo-shipper
go/sudo-logserver
go/shipper
go/server
plugin/sudo_logger_plugin.so

# Source tarballs
*.tar.gz
go/sudo-replay-server
go/replay-server
go/loadgen

# Temporary build directories
selinux/tmp/
