[Unit]
Description=sudo-logger audit agent (plugin handler + eBPF recorder)
After=systemd-logind.service network-online.target
Wants=network-online.target
RefuseManualStop=yes

[Service]
ExecStart=/usr/bin/sudo-logger-agent -config /etc/sudo-logger/agent.conf
KillMode=process
Restart=always
RestartSec=2

User=root
# No Protect* flags to ensure full visibility of the system for auditing and sandbox.

[Install]
WantedBy=multi-user.target
